body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  background-color: #fff;
  width: 100%;
}

.navbar ul {
  margin: 0;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.navbar ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.app {
  background-color: #e8e8e8;
  height: 100vh;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 45vh;
  width: 100%;
  height: 100vh;
}

.home h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
}

.logout {
  font-size: 22px;
  color: #000;
  text-decoration-line: none;
  background: #4f46e5;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}
